.center{
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    width: 30%;
    border: 1px solid black;
    padding: 10px;
}
tr:hover {
  background-color: lightgray;
}
.mycard{
  border-radius: 10px;
  background: #fff;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 20px 18px 20px;
  cursor: pointer;
}